<beans:beans xmlns="http://www.springframework.org/schema/security"

	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"

	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security-3.2.xsd">


	<http auto-config="true" use-expressions="true">
	 	<intercept-url pattern="/sistema/cadastro/cidade-lista.xhtml/**" access="hasRole('administrador')" />
 		<intercept-url pattern="/sistema/cadastro/cadastro-cidade.xhtml/**" access="hasRole('administrador')" />
	
	
 		<intercept-url pattern="/sistema/cadastro/servidor-lista.xhtml/**" access="hasRole('administrador')" />
 		<intercept-url pattern="/sistema/cadastro/servidor-cadastro.xhtml/**" access="hasRole('administrador')" />
 		
 		
 	    <intercept-url pattern="/sistema/cadastro/veiculo-lista.xhtml/**" access="hasRole('administrador')" />
 		<intercept-url pattern="/sistema/cadastro/cadastro-veiculo.xhtml/**" access="hasRole('administrador')" />
 		
 		<intercept-url pattern="/sistema/cadastro/motorista-lista.xhtml/**" access="hasRole('administrador')" />
 		<intercept-url pattern="/sistema/cadastro/cadastro-motorista.xhtml/**" access="hasRole('administrador')" />
 		
 		<intercept-url pattern="/sistema/cadastro/area-lista.xhtml/**" access="hasRole('administrador')" />
 		<intercept-url pattern="/sistema/cadastro/cadastro-area.xhtml/**" access="hasRole('administrador')" />
 		
		<intercept-url pattern="/sistema/reserva/autorizacao-reserva.xhtml/**" access="hasRole('administrador')"/>
		 
		<intercept-url pattern="/sistema/reserva/cadastro-reserva.xhtml/**" access="hasRole('comum') or hasRole('administrador')" />
		<intercept-url pattern="/sistema/reserva/reserva-lista.xhtml/**" access="hasRole('comum') or hasRole('administrador')" />
		
		<intercept-url pattern="/faces/index.xhtml/**" access="hasRole('comum') or hasRole('administrador') or hasRole('motorista')" />
		
		<intercept-url pattern="/sistema/reserva/autorizacao-reserva-motorista.xhtml/**" access=" hasRole('motorista')" />
		 
		<intercept-url pattern="/sistema/reserva/confirma-reserva.xhtml/**" access="hasRole('comum') or hasRole('administrador')" />
		 		
		<intercept-url pattern="/sistema/reserva/reserva-finalizada.xhtml/**" access="hasRole('comum') or hasRole('administrador')" />

		<access-denied-handler error-page="/negado.jsf" />
		<form-login login-page="/login.jsf"
			authentication-failure-url="/login.jsf?error=true" />
			<logout logout-success-url="/login.jsf" />
			
			 
	</http>

	<authentication-manager>

 

		<authentication-provider>


			<password-encoder hash="bcrypt" />
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="SELECT email as username, 
			 senha as password, status as enable FROM tab_pessoa WHERE email=?"  

				authorities-by-username-query="select email as username, perfil as authority from 
				 tab_pessoa as p where p.email=?" />

		</authentication-provider>
		
		
	</authentication-manager>
	<beans:bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<beans:property name="url"
			value="jdbc:mysql://localhost:3306/sistemasigecar" />
		<beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<beans:property name="username" value="root" />
		<beans:property name="password" value="" />  
	</beans:bean>




</beans:beans>
